@import "common.less";

:global {
	@import "normalize";
	
	*, *:before, *:after {
		box-sizing: border-box;
	}

	body {
		overflow-y: scroll;
		font-family: 'Cabin', sans-serif;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.root {

}

.header {
	width: 100%;
	height: 80px;
	background: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.headerContainer {
	.container();
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headerLogo {
	font-size: 25px;
	font-weight: 800;
}
.headerNav {
	margin-left: -10px;
	margin-right: -10px;
}
.headerLink {
	display: inline-block;
	padding: 0 10px;
}