@import "common.less";


.banner {
	display: block;
	width: 100%;
	height: calc(~"100vh - 80px");
	position: relative;
	background-size: cover;
	background-position: center;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.4);
	}
}
.bannerContainer {
	.container();
	height: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
.bannerContent {
	text-align: center;
}
.bannerTitle {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
}
.bannerTitleSeparator {
	font-size: 30px;
}
.bannerAction {
	display: inline-block;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 25px;
	font-size: 20px;
	font-weight: 700;
	outline: none;
	background-color: rgb(85, 255, 227);
	color: #fff;
	transition: background .3s;

	&:active {
		background-color: rgb(60, 168, 150);
	}
}