<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<title>Telemedicine sample | Hackaton SPB 2017</title>
	</head>
	<body>
		<div id="root"></div>
		<script>window.BUILD_ID = <%= htmlWebpackPlugin.options.buildId %>;</script>
	</body>
</html>