@import "common.less";

.root {
	width: 100%;
	height: 100vh;
	padding: 50px;
	background: #f0f0f0;

}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.card {
	display: flex;
	justify-content: flex-start;
	padding: 40px;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.leftCol {
	width: 200px;
}

.image {
	max-width: 100%;
	display: block;
}

.rightCol {
	width: 400px;
	margin-left: 20px;
}

.name {
	margin: 0;
}